#title {
    background-color: #DDD;
}

#WoW {
    background-color: #DD0;
}

#horn {
    background-color: #D0D;
}

#sleep {
    background-color: #EEE;
}

body {
    padding-top: 50px;
}

@media (max-width: 480px) { 
        body {
          font-size: 20px;
        }

        .hidden-phone {
           display: block;
        }
    }