#title {
    background-color: #DDD;
	text-align:center;
}

#WoW {
    background-color: #DD0;
	text-align:center;
	float:left;
	padding:25px;
}

#horn {
    background-color:rgb(100,10,90);
	text-align:center;
	float:right;
	padding:25px;
}

#sleep {
    background-color: #EEE;
	text-align:center;
	float:right;
	padding:25px;
}

body {
    padding-top: 50px;
}

@media (max-width: 480px) { 
        body {
          font-size: 20px;
        }

        .hidden-phone {
           display: block;
        }
    }